version: '3.9'

services:
  mysql:
    image: mysql:8
    container_name: mysql-server
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mydb
      MYSQL_USER: user1
      MYSQL_PASSWORD: pass123
    networks:
      mysql-net:
        ipv4_address: 172.0.5.10
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-ui
    environment:
      PMA_HOST: mysql
    depends_on:
      - mysql
    networks:
      mysql-net:
        ipv4_address: 172.0.5.11
    ports:
      - "8080:80"

networks:
  mysql-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.5.0/24
